.form{
    width: 360px;
    border: 2px solid #ccc;
    padding: 16px;
    margin: 20px auto;
}

.form input{
    display: block;
    width: 100%;
    box-sizing: 8px;
    margin: 10px 0px;
}

.form input, label, button{
    font-size: 24px;
}