.product{
    width: 360px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
}

.product img{
    width: 360px;
    height: 240px;
}

.product h1, h2{
    margin-left: 70px;
    padding-bottom: 0px;
}